/*
  author: Adam Holm
  file:   colorchooser.css
  purpose:  csc337 final project
          css stylesheet for
         colorchooser webapp
*/

* {
  box-sizing: border-box;
}


body {
/*
  background-color: rgb(211,211,211);
*/

  background: linear-gradient(45deg,
    #ff99ff, white) no-repeat fixed center;

/*
  background: repeating-linear-gradient(45deg,
    #9999ff, #ff99ff 7%, white 10%) no-repeat fixed center;
*/
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-style: normal;
}

.hide {
  display: none;
}

.pagination > button, #loadUsrCol, #submit {
  color: black;
  font-size: 1.5em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  height: 100%;
  border: 0;
/*
  background-color: rgb(230,230,250);
*/
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
}

.pagination > button:hover, #loadUsrCol:hover, #submit:hover {
  background-color: #555555;
  color: white;
  opacity: 0.5;
}

.pagination {
  border: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  height: 10%;
  width: 80%;
}

#tagAndListContainer {
  font-size: 1.5em;
  text-align: left;
  float: right;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}

/*
  only setting border on 3 sides
  if bottom border is set, end up
  with a border that is too thick
*/

#tagcolorlist {
  border: 0;
  height: 100%;
  width: 100%;
}

#saveAndLoad[class=donthide] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 0;
}

#saveAndLoad > div {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#colorlist {
  border: 0;
  height: 100%;
  width: 100%;
  float: right;
}

#color7, #colorlist:last-child,
#tagcolorlist:last-child {
  border-top: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

#colorlist > div,
#tagcolorlist > div {
  cursor: pointer;
}

#colorchoose > div, #colorlist > div[class=donthide],
#tagcolorlist > div[class=donthide] {
  display: inline-flex;
  align-items: center;
}

#colorchoose > div, #colorlist > div,
#tagcolorlist > div {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 12.5%;
  width: 100%;
}

#colorchoose > div{
  cursor: default;
  padding: 0.5%;
}

#colorchoose{
  float: left;
  border: 0;
  font-size: 1.5em;
  height: 100%;
  text-align: left;
  width: 50%;
}

#userinput {
  float: left;
}

